<mat-toolbar color="primary" class="navbar">
  <!-- Logo -->
  <img src="assets/Logo.png" alt="Logo" class="logo" />

  <!-- Message de connexion -->
  <div class="navbar-message">
    <span style="color:rgb(0, 0, 0);">Vous êtes connecté(e) Mr. l'administrateur !</span>
  </div>

  <!-- Statistics -->
  <button mat-button [routerLink]="'/admin/statistiques'">Statistiques</button>

  <!-- Dropdown - Projects Management -->
  <mat-menu #menu2="matMenu">
    <button mat-menu-item [routerLink]="'/admin/projets'">Voir les projets</button>
    <button mat-menu-item [routerLink]="'/admin/filtrage_projets'">Filtrer les projets</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu2">Gestion des projets</button>

  <!-- Dropdown - User Management -->
  <mat-menu #menu1="matMenu">
    <button mat-menu-item *ngFor="let role of roles" [routerLink]="['/admin/gestion_utilisateurs', role]">
      {{ role.role }}
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu1">Gestion des utilisateurs</button>

  <!-- Déconnexion (Logout) -->
  <span class="spacer"></span>
  <button mat-raised-button color="warn" (click)="logout()">Se déconnecter</button>
</mat-toolbar>
